@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&display=swap');

body{
    font-family: 'Montserrat', sans-serif;
}
 :root{
     --primary-color:#4C1D95;

 }
 .nonbullet-list{
     list-style-type: none;
     display: inline;
     text-align: right;
     text-decoration: none;
 }
 #info{
          text-align:center;
 }
 footer{
     text-align: center;
     color:white;
     background-color: var(--primary-color) ;
     padding-top : 5rem;
 }
 footer a{
     text-decoration: none;
     display:inline-block;
     padding:30px;
     color:white;
 }
 .primary-color-button{
    color: white;
    background-color: var(--primary-color);
    padding:0.5rem;
    text-decoration: none;
    border-radius: 0.5rem;
 }
 .white-color-button{
     color:var(--primary-color);
     background-color: white;
     padding:0.5rem;
     text-decoration: none;
     border-radius: 0.5rem;
 }
.flow-container{
    max-width:700px;
    margin:auto;
    text-align: center;
}
